Repository microsoft/CAIRA, pull requests merged in 2025-08, with the labels that each got.

#36 fix: update minimum supported version of Terraform to v1.13
  .changes/unreleased/foundry_basic-fixed-20250825-151512.yaml
  .changes/unreleased/foundry_basic_private-fixed-20250825-151512.yaml
  .changes/unreleased/foundry_standard-fixed-20250825-151512.yaml
  modules/ai_foundry/agent_capability_host_connections.role_assignments.tf
  reference_architectures/foundry_basic/README.md
  reference_architectures/foundry_basic_private/README.md
  reference_architectures/foundry_standard/README.md
Labels: state/skip-changelog, area/iac, area/docs

#41 fix(terraform): bump minimum required Terraform version to 1.13
  .changes/unreleased/foundry_basic-fixed-20250825-151512.yaml
  .changes/unreleased/foundry_basic_private-fixed-20250825-151512.yaml
  .changes/unreleased/foundry_standard-fixed-20250825-151512.yaml
  modules/ai_foundry/README.md
  modules/ai_foundry/terraform.tf
  modules/common_models/README.md
  modules/common_models/terraform.tf
  modules/existing_resources_agent_capability_host_connections/README.md
  modules/existing_resources_agent_capability_host_connections/terraform.tf
  modules/new_resources_agent_capability_host_connections/README.md
  modules/new_resources_agent_capability_host_connections/terraform.tf
  modules/wellknown/README.md
  modules/wellknown/terraform.tf
  reference_architectures/foundry_basic/README.md
  reference_architectures/foundry_basic/terraform.tf
  reference_architectures/foundry_basic_private/README.md
  reference_architectures/foundry_basic_private/terraform.tf
  reference_architectures/foundry_basic_private/tests/integration/setup/terraform.tf
  reference_architectures/foundry_standard/README.md
  reference_architectures/foundry_standard/terraform.tf
  reference_architectures/foundry_standard_private/README.md
  reference_architectures/foundry_standard_private/terraform.tf
  reference_architectures/foundry_standard_private/tests/integration/setup/terraform.tf
Labels: state/skip-changelog, area/iac, area/docs

#44 docs(contributing): update guidelines
  docs/contributing/development_workflow.md
Labels: state/skip-changelog, area/docs

#46 docs: update docs for private basic and standard configs
  reference_architectures/foundry_basic_private/images/architecture.drawio.svg
  reference_architectures/foundry_standard_private/README.md
  reference_architectures/foundry_standard_private/images/architecture.drawio.svg
Labels: state/skip-changelog, type/feature, area/docs

#48 chore(release): foundry_basic_private/v0.1.0
  .changes/foundry_basic_private/v0.1.0.md
  .changes/unreleased/foundry_basic_private-added-20250822-084941.yaml
  reference_architectures/foundry_basic_private/CHANGELOG.md
Labels: state/skip-changelog, area/docs

#50 chore(release): foundry_standard_private/v0.1.0
  .changes/foundry_standard_private/v0.1.0.md
  .changes/unreleased/foundry_standard_private-added-20250822-085128.yaml
  reference_architectures/foundry_standard_private/CHANGELOG.md
Labels: state/skip-changelog, area/docs
